:root
{
    /**colores**/
    --colorPrimario: #FF5B00;
    --colorSecundario: blue;
}

.menu6
{
    background: #ccc;
    padding: 5px;
}


.menu6 ul
{
    list-style: none;
    display: flex;
}
.menu6 ul a
{
    background: var(--colorSecundario);
    color: white;
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

/** ANIMACION PARA EL MUNO **/
/**agregamos seudo-selectores**/
.menu6 ul a::before, .menu2 ul a::after
{
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--colorPrimario);
    z-index: -1;
    /**para darle un tamanio que no sse mire**/
    transform: scaleX(0);
    transition: transform .6s;
}
.menu6 ul a::before
{
    top: 0;
    transform-origin: center;
}
.menu6 ul a::after
{
    top: 0;
    transform-origin: center;
}
.menu6 ul a:hover::before
{
    transform: scaleX(1);
}
.menu6 ul a:hover::after
{
    transform: scaleX(1);

}
